.list-item {
    color: rgb(14, 126, 14);
}

.heading {
    color: rgb(187, 48, 48);
}

#special-one {
    color: rgb(60, 125, 163);
}

#special-heading {
    background-color: rgba(104, 245, 198, 0.493);
}